.container {
  border-radius: 5px;
  box-shadow: 4px 4px -4px black;
  border: black 1px solid;
  position: relative;

  button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 15px 27px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Inter;
    cursor: pointer;

    &:hover {
      background-color: #c7c7c7;
    }
  }
}

.logo img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  gap: 20px;
}
