<div class="container" style="height: 800px">
  <div class="graph" #topicsChart style="height: 100vh; border: 1px solid lightgray"></div>

  <div class="list-subjects">
    <div class="search-bar">
      <input
        #search
        type="text"
        name="search"
        (input)="serach($event.target.value)"
        placeholder="Rechercher un sujet"
      />
    </div>
    @if (isLoading) {
    <loading-spiner></loading-spiner>
    }

    <hr />

    <div class="subject-display">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="th">Sujet</div>
            <div class="th">Nombre projets</div>
          </div>
        </div>
        <div class="tbody">
          @for (topic of topics; track $index) {
          <div
            class="tr"
            (click)="subjectSelected(topic)"
            (dblclick)="test2clickEvent(topic)"
            [class.selected]="topic.id == selectedTopic?.id"
            [class.hoverable]="topic.id != selectedTopic?.id"
          >
            <div class="td">{{ topic.name }}</div>
            <div class="td">{{ topic.total_projects_count }}</div>
          </div>
          }
        </div>
      </div>
    </div>

    <button [disabled]="!selectedTopic" (click)="exploreClick()">Explore</button>
  </div>
</div>
