.graph {
  height: 100vh;
  width: 100%;
}

.list-subjects {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 4px 4px black;
  height: 90vh;
  top: 50%;
  transform: translate(20px, -50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subject-display {
  overflow: scroll;
}

input,
button {
  background-color: #ededed;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin: 5px;
}
button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  &:hover {
    background-color: #d4d4d4;
  }
}

.container {
  display: flex;
}

.tbody .tr {
  cursor: pointer;
}

.tr {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;

  &.hoverable:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #d8d8d8;
  }
}
