<div class="rectangleInfoGroup" style="z-index: 1000">
  <div class="group-header">
    <div style="display: flex; align-items: center; justify-content: center; gap: 0.5vw">
      <img src="icons/GroupIcon.svg" alt="Group Icon" style="width: 1.5vw; height: 1.5vw" />
      <h3>{{ group?.name || 'Groupe sans nom' }}</h3>
    </div>
  </div>

  <div class="info-section">
    <p class="info-value">
      {{ group?.created_at ? (group?.created_at | date : 'dd/MM/yyyy') : 'Date non spécifiée' }}
    </p>
  </div>

  <div class="description-section">
    <p class="label">Description :</p>
    <p class="description">{{ group?.description || 'Aucune description disponible' }}</p>
  </div>

  <div class="link-section">
    @if (group?.web_url) {
    <p class="label">Lien du groupe :</p>
    <a [href]="group?.web_url" target="_blank" class="group-link">
      <img
        src="icons/majesticons_open.svg"
        alt="Open"
        style="width: 1.2vw; height: 1.2vw; vertical-align: middle; margin-right: 0.3vw"
      />
      <span class="text">Ouvrir le groupe</span>
    </a>
    }
  </div>
  <!-- section des membres -->
  <div class="members-section">
    <div class="members-header">
      <p class="label">Membres :</p>
      <button class="members-toggle" (click)="toggleMembers()" aria-label="Afficher membres">
        <img src="icons/majesticons_open.svg" alt="open" class="icon" />
      </button>
    </div>

    @if (showMembers) {
    <div class="members-list">
      @if (!members || members.length === 0) {
      <p class="no-members">Aucun membre trouvé</p>
      } @else {
      <ul class="member-links">
        @for (member of members; track member.id) {
        <!--track pour identifier le membre-->
        <li>
          <a [href]="member.webUrl" target="_blank" class="member-link">
            <span class="member-name">{{ member.name }}</span>
            <img src="icons/majesticons_open.svg" alt="Ouvrir" style="width: 1vw; height: 1vw" />
          </a>
        </li>
        }
      </ul>
      }
    </div>
    }
  </div>
</div>
