.app-container {
  min-height: 100vh;
  background-color: #f0ecdf00;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  color: #334443;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 600;
}
